body {
    background-color: #121212; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.register-container {
    max-width: 400px; 
    margin: auto;
    padding: 20px;
    background-color: #1e1e1e; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffcc00; 
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ffffff; 
    border-radius: 5px;
    width: 100%; 
    margin-bottom: 15px; 
    color: black; 
    background-color: #ffffff;
}

button {
    padding: 10px 15px;
    background-color: #ffcc00;
    color: #000000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6b800; 
}

a {
    color: #ffcc00; 
    text-align: center; 
    display: block; 
    margin-top: 10px; 
}

a:hover {
    text-decoration: underline;
}

.promotion-checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.promotion-checkbox input[type="checkbox"] {
    margin-right: 10px;
}
