body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.edit-profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.current-user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.current-user-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group input:focus {
  border-color: #FFC107;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #FFC107;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #FFA000;
  transform: scale(1.05);
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul li p {
  margin: 5px 0;
  font-size: 0.95rem;
  /*color: #555; */
}

.logout-section {
  display: flex;
  justify-content: center;
}

.logout-button {
  padding: 12px 25px;
  background-color: #ffcc00;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.logout-button:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}
