body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.movie-image {
    width: 200px;  /* Set desired width */
    height: 300px; /* Set desired height */
    object-fit: cover; /* Ensures images fill the box without distortion */
    border-radius: 8px;
    margin-bottom: 10px;
}

.movie-details-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movie-trailer {
    margin-top: 20px;
    border-radius: 8px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.logo {
    font-size: 24px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.movie-card {
    flex: 0 1 calc(33.333% - 20px);
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
}

button:hover {
    background-color: #e6b800;
}

/* Modal Styles */
.movie-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.movie-details {
    background-color: #222;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    width: 80%;
    text-align: center;
    position: relative;
}

.movie-details h2 {
    margin-bottom: 20px;
}

.movie-details iframe {
    width: 100%;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.close-modal-button {
    padding: 10px 20px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-button:hover {
    background-color: #e60000;
}

.login-note {
    font-size: 16px;
    color: #ffcc00;
    margin-top: 10px;
}

