body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.order-confirmation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.order-details h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.order-details p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.ticket-details {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ticket-details p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #555;
}

.confirmation-button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background-color: #FFC107;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.confirmation-button:hover {
  background-color: #FFA000;
  transform: scale(1.05);
}

.confirmation-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul li p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #555;
}

.tickets-text {
 color: black
}

.back-to-home-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #FFC107;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-to-home-button:hover {
  background-color: #FFA000;
  transform: scale(1.05);
}

.back-to-home-button:active {
  background-color: #FFB300;
  transform: scale(0.98);
}
