body {
    background-color: #121212; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.adminDashboard, .manageMovies, .managePromotions {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #ffcc00; 
    color: #000000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
}

button:hover {
    background-color: #e6b800; 
}

.logout-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: darkred;
}
